/*ESTILO DE MENÚ*/  


/* HERO SUPERIOR */
.menu-hero {
  background: #111;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.menu-hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.menu-hero p {
  opacity: 0.7;
}


/* SECCIONES */
.menu-section {
  padding: 70px 10%;
}

.menu-section h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  border-left: 5px solid #ff7b00;
  padding-left: 10px;
  color:white;
}


/* GRID RESPONSIVE */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px 10%;
}

/* ================= FILTROS ================= */

.filters {
  text-align: center;
  margin: 40px 0;
}

.filter-btn {
  background: transparent;
  border: 2px solid #ff7b00;
  color: white;
  padding: 8px 18px;
  margin: 5px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.filter-btn:hover,
.filter-btn.active {
  background: #ff7b00;
  color: black;
}


/* CARDS */
/*.menu-card {
  background: #1a1a1a;
  padding: 20px;
  color: white;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  opacity: 0;
  transform: translateY(30px);
  transition: transform 0.3s ease;
}*/
.menu-card {
  background: #1a1a1a;
  padding: 20px;
  color: white;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.menu-card.show {
  opacity: 1;
  transform: translateY(0);
}

.menu-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.menu-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.menu-card h3 {
  padding: 15px 0 10px;
}

.menu-card p {
  padding: 0 15px;
  font-size: 0.9rem;
  opacity: 0.8;
  color:#aaa;
}

.price {
  display: block;
  margin: 10px;
  padding: 15px;
  font-weight: bold;
  color: #ff7b00;
}

.menu-card button {
  width: 100%;
  padding: 15px;
  border: none;
  background: #ff7b00;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition:  0.3s;
}

.menu-card button:hover {
  background: #e66900;
}

.menu-footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 60px;
}

/*ESTILO PARA BOTÓN FLOTANTE DE WHATSAPP*/
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  font-size: 24px;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
  z-index: 1000;
}